
<div class="container">
  <div class="row m-5">
    <div class="col-md-7 offset-md-2" >

      <div class="table-responsive">
        <button class="btn btn-primary mb-3" routerLink="/users/new">Add User</button>
        <table class="table table-dark">
          <thead>
            <tr>
              <th>UserName</th>
              <th>Email</th>
              <th>City</th>
              <th>Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let user of users">
              <td scope="row">{{user.userName}}</td>
              <td>{{user.email}}</td>
              <td>{{user.city}}</td>
              <td><button class="btn btn-outline-info" routerLink="/user/{{user.userId}}">Update</button></td>
              <td><button class="btn btn-outline-danger" routerLink="" (click)="onDelete(user.userId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

